.contenedor {
    width: 100%;
    height: 100vh;
    background-color: rgb(226, 153, 201);
}

.encabezado {
    display: flex;
    justify-content: center;

    color: purple;
    font-size: 4em;
}



.red {
    color: red;
}

.green {
    color: green;
}