body{
    background:cornflowerblue;
    font-family: sans-serif;
    font-size: 120%;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form{
    width: 500px;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(255, 255, 255, 0.534);
    border-radius: 20px;
}
h1{
    color: white;
}
span, input{
    margin-bottom: 1rem;
}

